input[type=checkbox] {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid gainsboro;
  border-radius: 0.35rem;
  margin-right: 10px;
}
input[type='checkbox']:checked {
  border-color: transparent;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #E6007E;
}

.allow-form > p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.allow-all {
  margin-bottom: 10px;
}
.allow-form .allow-all span {
  font-size: 20px;
  font-weight: 600;
}
.tos > ul {
  
}
.tos > ul > li{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0;
}
.tos > ul > li span {
  font-size: 20px;
  cursor: pointer;
  transition: .3s;
}
.tos > ul > li span:hover {
  color: #E6007E;
}